<%= link_to(anime_path(anime)) do %>
  <div class="card card-compact bg-base-100 shadow border border-primary-content rounded-md">
    <figure>
      <%= image_tag(anime.display_image_url, class: "h-40") %>
    </figure>
    <div class="card-body">
      <h2 class="font-bold h-16"><%= anime.title %></h2>
      <p class="badge badge-outline"><%= anime.year %></p>
    </div>
  </div>
<% end %>
